In [9]:
d = {'JavaScript': 24131, 'HTML': 1078, 'CSS': 564}

langArr = []

arr = []

for key, value in d.items():
    b = {key : value}
    arr.append(b)
    
langArr.append(arr)

langArr

[[{'JavaScript': 24131}, {'HTML': 1078}, {'CSS': 564}]]

In [10]:
e = {'JavaScript': 19841, 'HTML': 1084, 'CSS': 564, 'Shell': 103}

arr2 = []

for key, value in e.items():
    b = {key : value}
    arr2.append(b)
    
arr2
langArr.append(arr2)

langArr

[[{'JavaScript': 24131}, {'HTML': 1078}, {'CSS': 564}],
 [{'JavaScript': 19841}, {'HTML': 1084}, {'CSS': 564}, {'Shell': 103}]]

In [18]:
import pandas as pd

usage_information = []

for i, repo in enumerate(langArr):
    print(i)
    for j, usage in enumerate(repo):
        print(usage)
        for key, value in usage.items():
            data = []
            data.append(key)
            data.append(value)
            usage_information.append(data)
            
usage_df = pd.DataFrame(usage_information, columns = ['Language', 'value'])
usage_df

0
{'JavaScript': 24131}
{'HTML': 1078}
{'CSS': 564}
1
{'JavaScript': 19841}
{'HTML': 1084}
{'CSS': 564}
{'Shell': 103}

     Language  value
0  JavaScript  24131
1        HTML   1078
2         CSS    564
3  JavaScript  19841
4        HTML   1084
5         CSS    564
6       Shell    103