In [1]:
import pandas as pd
import numpy as np

In [2]:
text_1 = "I love playing football with my friends"
text_2 = "I hate waching and playing basketball"
text_3 = "When I was a kid I was playing football with my friends every day all the evening"

In [3]:
## Create a list of the sentences
texts = [text_1, text_2, text_3]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
## Firstly let's count the words using the CountVectorizer
count_vectorizer = CountVectorizer(stop_words='english')
count_vectorizer = CountVectorizer()
matrix = count_vectorizer.fit_transform(texts)

In [6]:
## we can create a dataframe to represent the number of the words in every sentence
table = matrix.todense()
df = pd.DataFrame(table, 
                  columns=count_vectorizer.get_feature_names(), 
                  index=['text_1', 'text_2', 'text_2'])
df

,all,and,basketball,day,evening,every,football,friends,hate,kid,love,my,playing,the,waching,was,when,with
text_1,0,0,0,0,0,0,1,1,0,0,1,1,1,0,0,0,0,1
text_2,0,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0
text_2,1,0,0,1,1,1,1,1,0,1,0,1,1,1,0,2,1,1

### Calculating the Euclidean distance using Python

In [7]:
## Compute the Euclidean distance of these sentences
from scipy.spatial import distance

matrix = distance.cdist(df, df, 'euclidean')

df_eucl = pd.DataFrame(matrix, 
                  columns= ["Text_1", "Text_2", "Text_3"],
                  index=['text_1', 'text_2', 'text_3'])
df_eucl

          Text_1    Text_2    Text_3
text_1  0.000000  3.000000  3.464102
text_2  3.000000  0.000000  4.358899
text_3  3.464102  4.358899  0.000000